body {
    display       : flex;
    min-height    : 100vh;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    background-color: #0D0A33;

}

nav, footer {
    font-family: roboto, sans-serif;
}

header {
    width: 100%;
}

nav {
    display        : flex;
    justify-content: center;
    padding: 30px;
    /* background-color: blue; */
}

nav a {
    margin: 0 80px 0 80px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-bottom: 2.5px solid transparent;
    transition: border-bottom 0.5s;
}

nav a:hover {
    border-bottom: 2px solid #DE0078;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding   : 20px;
}

footer p {
    color: white;
    font-size: 14px;
}